.form_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    height: 100%;

}
.line{
    border-bottom: 2px solid var(--border-color);
    width: 100%;
}
