@import "styles/globalVariables.css";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:focus{
    outline: none;
}
.container{
    height: 100%;
    position: relative;
}
h1{
    color:var(--text-color);
    margin: 0;
    padding: 0;
}

.outlet{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
}
.icon{
    vertical-align: middle;
    font-size: 1.8rem;
    color:var(--text-color);
    cursor: pointer;
}